<template id="product-form-template">
  <div class="space-y-4">
    <input class="field" placeholder="ID" />
    <input class="field" placeholder="Name" />
    <textarea class="field" placeholder="Description"></textarea>
    <input class="field" type="date" />
    <input class="field" type="number" placeholder="Period (days)" />
    <input class="field" type="date" />
    <input class="field" type="url" placeholder="URL Link" />

    <button
      class="submit bg-brand text-slate-900 py-2 px-4 rounded-xl font-bold"
    >
      Save
    </button>
  </div>
</template>
